/* static/main.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff; /* Fundo branco */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff; /* Mesma cor do fundo do site */
    padding: 10px 20px;
    color: #333;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Sombra na borda de baixo */
}

.navbar-left {
    font-size: 20px;
}

.btn-logout {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-logout:hover {
    background-color: #c0392b;
}

.content {
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.client-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.client-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin: 10px;
    width: 200px;
    text-align: center;
    padding: 10px;
}

.client-card img {
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.client-info {
    padding: 10px;
}

.client-info h3 {
    margin: 10px 0 5px;
}

.client-info p {
    margin: 5px 0;
    color: #555;
}
