/* static/residencia.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px 20px;
  color: #333;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-left img {
  margin-right: 16px;
}

#username {
  font-size: 20px;
}

.btn-logout {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.btn-logout:hover {
  background-color: #c0392b;
}

.container {
  display: flex; /* Enables flexbox layout */
}

.left-side,
.right-side {
  padding: 1rem; /* Add some padding */
}

.left-side {
  width: 33.33%; /* Left side takes 1/3rd of the width */
}

.kpi-section {
  display: flex; /* Arrange KPIs horizontally */
}

.kpi {
  flex: 1; /* Ensures each KPI takes equal space */
  padding: 0.5rem;
  margin: 0.5rem;
  border: 1px solid #ddd; /* Example border for illustration */
}

#map {
    width: 100%;
    height: 50vh;
}

.leaflet-layer,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-control-attribution {
  filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}
